#notification {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
}

.notification-content p {
    width: 100%;
    color: #2a2a2a;
    opacity: 100;
    margin: 15px;
    user-select: none;
}

/* DESKTOP */

* {
    margin: 0;
    padding: 0;
}

body {
    display: block;
    font-family: 'Exo', sans-serif;
    background-color: #282828;
    height: 100vh;
}

/* TOP - START */

.top {
    width: 100%;
    height: 8%;
    color: white;
    display: flex;
    align-items: center;
}

.return {
    width: 8%;
    height: 100%;
    margin: auto;
    display: flex; /* Adiciona display flex para .return */
    align-items: center; /* Centraliza verticalmente os itens dentro de .return */
    justify-content: center; /* Centraliza horizontalmente os itens dentro de .return */
}

.return_arrow {
    width: 30%;
    height: 30%;
    background-size: cover;
    margin: auto;
    user-select: none;
}

.page_title {
    width: 84%;
    height: 100%;
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    user-select: none;
}

.settings {
    width: 8%;
    height: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options_dots {
    width: 50%;
    height: 50%;
}



/* TOP - END */

/* MAIN - START */

.main {
    display: flex;
    width: 100%;
    height: 90%;
}

.main_content {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px 50px 5px 50px;
    box-sizing: border-box;
}

    /* Estilos para o pop-up */
    #popup {
        width: 500px;
        border-radius: 20px;;
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        padding: 10px;
        transform: translate(-50%, -50%);
        background-color: #282828;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        z-index: 1000;
        color: white;
    }

    #closeButton {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #closeButton:hover {
        background-color: rgb(218, 218, 218);
    }
    
    #closeButton:before,
    #closeButton:after {
        content: '';
        position: absolute;
        width: 3px;
        height: 20px;
        background-color: #282828;
        border-radius: 5px; /* Borda arredondada para os traços */
    }
    
    #closeButton:before {
        transform: rotate(45deg);
    }
    
    #closeButton:after {
        transform: rotate(-45deg);
    }

    /* Estilos para o fundo embaçado */
    #overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 999;
    }

            /* Swith */

        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }
        
        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        input:checked + .slider {
            background-color: #2196F3;
        }
        
        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }
        
        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
        
        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }
        
        .slider.round:before {
            border-radius: 50%;
        }

        /* Swith end */

    .popup_title {
        height: 10%;
        width: 100%;
        padding: 10px;
        display: flex;
        text-align: start;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
        margin: 0 0 20px 0;
    }

    .popup_content {
        height: 90%;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
    }

    .popup_option {
        height: 20%;
        width: 100%;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px 0 5px 0;
    }

/* MAIN LEFT */

    .main_left {
        width: 75%;
        height: 100%;
        padding: 0 20px 0 0px;
        box-sizing: border-box;
    }

    .lyrics_box {
        width: 100%;
        height: 100%;
        border: 3px solid #0077c2;
        border-radius: 20px;
        box-sizing: border-box;
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.7);
        background-color: #181818;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        line-height: 21px;
        cursor: text;
    }

    .editor-container {
        width: 100%;
        height: 100%;
        display: inline-flex;
        gap: 10px;
        font-family: monospace;
        line-height: 21px;
        overflow: auto;
    }

    .character_counter {
        height: 100%;
        text-align: center;
        width: 2%;
        font-size: 12px;
        color: #8a8a8a;
        position: relative;
        pointer-events: none;
        line-height: 21px;
        overflow-y: scroll;
        height: 100%;
        user-select: none;
        /* Oculta a barra de rolagem, mas permite rolar */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */
    }
    
    /* Estilização para navegadores que não suportam scrollbar-width */
    .character_counter::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }

    .editor {
        line-height: 21px;
        padding: 0 5px 0 0;
        flex: 1;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        color: white;
        font-size: 16px;
        resize: none; /* Impede o redimensionamento do textarea */
        overflow: auto; /* Permite a rolagem */
        white-space: nowrap; /* Impede a quebra automática de linha */
        scrollbar-width: thin; /* Firefox */
        scrollbar-color: transparent transparent; /* Firefox */
        position: relative;
    }
    
    #editor .selected-line {
        background-color: yellow; /* Altere para a cor desejada */
        position: absolute;
        width: 100%;
        height: 1.2em; /* Ajuste conforme necessário para o destaque desejado */
        pointer-events: none; /* Para permitir a interação com o textarea */
    }

    .editor::-webkit-scrollbar {
        width: 0; /* Largura da barra de rolagem WebKit (Chrome, Safari) */
    }

    .editor::-webkit-scrollbar-thumb {
        background-color: transparent; /* Cor da "thumb" da barra de rolagem WebKit */
    }

    .editor::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px; /* Largura do espaço recuado */
        height: 100%;
    }

    .line_issues {
        height: 100%;
        text-align: center;
        width: 1%;
        font-size: 12px;
        position: relative;
        pointer-events: none;
        line-height: 21px;
        overflow-y: scroll;
        height: 100%;
        user-select: none;
        scrollbar-width: none;
        -ms-overflow-style: none;
        display: flex;
        flex-direction: column; /* Adicionado para empilhar as linhas verticalmente */
        align-items: center; /* Adicionado para centralizar as linhas horizontalmente */
    }

    /* Estilização para navegadores que não suportam scrollbar-width */
    .line_issues::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }

    .status-1 {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: inline-block;
        align-items: right;
    }
    
    .status-gray {
        background-color: #393939;
    }
    
    .status-blue {
        background-color: #0077c2;
        box-shadow: 0 0 2px #0077c2;
    }
    
    .status-red {
        background-color: red;
        box-shadow: 0 0 2px red;
    }
    
    .status-yellow {
        background-color: #edb51a;
        box-shadow: 0 0 2px #edb51a;
    }
    
    .status-green {
        background-color: #4CAF50;
        box-shadow: 0 0 2px #4CAF50;
    }

/* MAIN RIGHT */

    .main_right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25%;
        height: 100%;
    }

    .language_selector,
    .improvements_box,
    .sp_player_div {
        width: 100%;
    }

    .language_selector {
        height: 8%;
        background-color: #616161;
        border-radius: 18px;
        position: relative;
        cursor: pointer;
        user-select: none;
    }

    .lang_selector_div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .language_selector .selected_language {
        width: 85%;
        height: 100%;
        padding: 18px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }

    .language_selector:hover {
        background-color: #565656; /* Cor alterada no hover */
    }

    .lang_expand_arrow {
        width: 100%;
        height: 100%;
        transform: rotate(180deg);
    }
    
    .language_selector .language_list {
        padding: 10px;
        list-style: none;
        padding: 10px 5px;
        margin: 5px 0 0 0;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #383838;
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        z-index: 1;
    }
    
    .language_selector .language_list li {
        border-radius: 10px;
        padding: 10px;
        color: #fff;
    }

    .language_selector .language_list p {
        padding: 12px 10px 12px 10px;
        color: #fff;
        cursor: auto;
        user-select: none;
        font-style: italic;
    }
    
    .language_selector .language_list li:hover {
        background-color: #2b2b2b;
    }

    .improvements_box {
        height: 68%;
        background-color: #131313;
        border-radius: 18px;
        padding: 10px 10px 2px 10px;
        box-sizing: border-box;
        user-select: none;
    }

    .improvements_box_top {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 10%;
    }

    .improvements_box_text {
        color: white;
        font-size: 18px;
        display: flex;
        align-items: center;
        width: 85%;
        height: 100%;
        font-weight: bold;
        padding: 8px;
        box-sizing: border-box;
    }

    .improvements_box_refresh {
        display: flex;
        justify-content: center; /* Alinha os itens horizontalmente ao centro */
        align-items: center; /* Alinha os itens verticalmente ao centro */
        width: 15%;
        height: 100%;
    }

    /* Refresh icon */
        .refresh_button {
            width: 30px;
            height: 30px;
            background-color: #ffffff;
            box-shadow: rgba(0, 0, 0, 0.494) 1px 3px 12px;
            display: flex;
            cursor: pointer;
            position: absolute;
            border-radius: 50%;
            border-width: 0.1px;
            border-style: solid;
            border-color: rgba(198, 197, 197, 0.475);
            border-image: initial;
            display: none;
        }
        
        .refresh_button:hover {
            background-color: rgb(210, 210, 210);
        }
        
        .refresh_symbol {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .refresh_symbol {
            width: 14px;
            height: 14px;
            background-image: url(/images/refresh_symbol.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
        
        @keyframes loading_spinner {
            0% {
                transform: translate(-50%,-50%) rotate(0deg);
            }
        
            100% {
                transform: translate(-50%,-50%) rotate(360deg);
            }
        }
        
        .loading_spinner div {
            position: absolute;
            width: 14px;
            height: 14px;
            border: 3px solid #ffffff;
            border-top-color: transparent;
            border-radius: 50%;
        }
        
        .loading_spinner div {
            animation: loading_spinner 0.5291005291005291s linear infinite;
            top: 15px;
            left: 15px;
        }
        
        .loading_spinner_loop {
            width: 30px;
            height: 30px;
            display: inline-block;
            overflow: hidden;
        }
        
        .loading_spinner {
            width: 100%;
            height: 100%;
            position: relative;
            transform: translateZ(0) scale(1);
            backface-visibility: hidden;
            transform-origin: 0 0;
        }
        
        .loading_spinner div {
            box-sizing: content-box;
        }
        
        @keyframes loading_spinner_2 {
            0% {
                transform: translate(-50%,-50%) rotate(0deg);
            }
        
            100% {
                transform: translate(-50%,-50%) rotate(360deg);
            }
        }
        
    /* */
    

    .improvements_box_content {
        width: 100%;
        height: 90%;
        overflow: auto;
    }

    /* Barra de rolagem */
            /* Para navegadores Webkit (Chrome, Safari, etc.) */
            .improvements_box_content::-webkit-scrollbar {
                width: 6px;
            }
            
            .improvements_box_content::-webkit-scrollbar-thumb {
                background-color: #686868;
                border-radius: 10px;
            }
            
            /* Para navegadores Firefox */
            .improvements_box_content {
                scrollbar-width: thin;
                scrollbar-color: #383838 #686868; /* Cor da barra e do fundo */
            }
            
            .improvements_box_content::-webkit-scrollbar-track {
                background: #131313;
                border-radius: 10px;
            }
    /**/

    .improvements {
        display: flex;
        flex-direction: column;
    }

    .container_no_issues {
        width: 100%;
        box-sizing: border-box;
        color: #fff;
        background-color: #0077c2;
        margin-bottom: 10px;
        overflow: hidden;
        transition: max-height 0.3s;
        cursor: pointer;
        border-radius: 15px;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .content_ok {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .container {
        width: 100%;
        height: 15%;
        color: #fff;
        background-color: #282828;
        margin-bottom: 10px;
        overflow: hidden;
        transition: max-height 0.3s;
        cursor: pointer;
        border-radius: 15px;
    }

    .container:hover {
        background-color: #212121;
    }
    
    .container h2 {
        margin: 0;
        padding: 10px;
        font-size: 20px;
    }

    .container_no_issues h2 {
        margin: 0;
        padding: 10px;
        font-size: 18px;
    }
    
    .container .content {
        display: none;
        padding: 10px;
    }

    .container .content_text {
        margin-bottom: 10px;
        color: #e4e4e4;
    }

    .hightlight_text {
        font-weight: 750;
        color: #ffffff;
    }

    .selected-line {
        background-color: yellow;
        color: black;
    }

    .container .content_obs {
        font-size: 14px;
        font-style: italic;
        margin-bottom: 10px;
    }

    .container .content_options {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
    }

    .container .content_learn_more {
        width: 25%;
        font-size: 14px;
        font-style: italic;
        text-decoration: underline;
        display: flex;
        align-items: center;
        color: inherit; /* ou color: transparent; ou color: initial; ou qualquer outra cor desejada */
    }
    

    .container .content_buttons {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end; /* Para alinhar os itens à direita */
        font-size: 12px;
        color: red;
    }

    .container .content_ignore_btn {
        width: 48%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        background-color: rgb(20, 20, 20);
        font-size: 14px;
        color: white
    }

    .container .content_ignore_btn:hover {
        background-color: rgb(6, 6, 6);
    }

    .container .content_fix_btn {
        width: 33%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        background-color: white;
        font-size: 14px;
        color: black;
        margin: 0 0 0 8px
    }

    .container .content_fix_btn:hover {
        background-color: rgb(210, 210, 210);
    }

    .container_no_issues .content_copy_btn {
        width: 20%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        background-color: white;
        font-size: 14px;
        color: black;
        margin: 0 5px 0 0;
    }

    .container_no_issues .content_copy_btn:hover {
        background-color: rgb(210, 210, 210);
    }


    .no_errors_found_div {
        width: 100%;
        height: 100%;
        background-color: #ff0000;
    }

    .sp_player_div {
        height: 20%;
        box-sizing: border-box;
        border-radius: 18px;
        background-color: #131313;
        padding: 8px;
    }

    .sp_player_div_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        background-color: #282828;
        border-radius: 18px;
        box-sizing: border-box;
    }

    .sp_search {
        width: 100%;
        height: 30%;
        box-sizing: border-box;
    }


    .sp_player {
        display: flex;
        flex-direction: column;
        justify-content: flex-end; /* Isso alinhará o item no final da div verticalmente */
        width: 100%;
        height: 70%;
        background-color: #282828;
        border-radius: 18px;
    }
    

    /* Search container */

    .search-container {
        display: flex;
        align-items: center;
        background-color: #282828;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 10px;
        border-radius: 12px;
        user-select: none;
    }
    
    .search-container input[type="text"] {
        flex: 1;
        border: none;
        background-color: transparent;
        font-size: 16px;
        color: #ffffff;
    }
    
    input.search-container::-webkit-autofill {
        background-color: #282828;
    }
    
    .search-container input[type="text"]:focus {
        outline: none;
    }
    
    .search-container button[type="submit"] {
        background-color: transparent;
        border: none;
        color: #f0f0f0;
        font-size: 16px;
        margin-left: 10px;
        cursor: pointer;
    }
    
    .search-container input[type="text"]::placeholder {
        color: #999;
    }

    /* mobile_expanded_content - DESKTOP */

    .mobile_expanded_content {
        display: none;
    }



/* MAIN - END */

/* FOOTER - START */

.footer {
    width: 100%;
    height: 2%;
}

.footer_message {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60%;
    user-select: none;
}

.mobile_footer_div {
    display:none;
}


/* FOOTER - END */


/* Estilos para celulares */
@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        display: block;
        font-family: 'Exo', sans-serif;
        background-color: #181818;
        height: 100vh;
    }

    /* TOP - START */

    .top {
        width: 100%;
        height: 8%;
        color: white;
        display: flex;
        align-items: center;
        background-color: #282828;
    }

    .return {
        width: 20%;
        height: 100%;
        margin: auto;
        display: flex; /* Adiciona display flex para .return */
        align-items: center; /* Centraliza verticalmente os itens dentro de .return */
        justify-content: center; /* Centraliza horizontalmente os itens dentro de .return */
    }

    .return_arrow {
        width: 20%;
        height: 20%;
        background-size: cover;
        margin: auto;
        user-select: none;
    }

    .page_title {
        width: 60%;
        height: 100%;
        flex-grow: 1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        font-weight: bold;
        user-select: none;
    }

    .settings {
        width: 20%;
        height: 100%;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .options_dots {
        display: inline;
        width: 50%;
        height: 50%;
    }
    

    /* TOP - END */

    /* MAIN - START */

    .main {
        display: flex;
        width: 100%;
        height: 84%;
        background-color: red;
    }

    .main_content {
        display: flex;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background-color: green;
        padding: 0;
    }

    /* MAIN LEFT */

        .main_left {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            background-color: purple;
            padding: 0;
        }

        .lyrics_box {
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 0px;
            box-sizing: border-box;
            box-shadow: none;
            background-color: #181818;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            line-height: 21px;
            cursor: text;
        }

        .editor-container {
            width: 100%;
            height: 100%;
            display: inline-flex;
            gap: 10px;
            font-family: monospace;
            line-height: 21px;
            overflow: auto;
        }

        .character_counter {
            height: 100%;
            text-align: center;
            width: 5%;
            font-size: 12px;
            color: #8a8a8a;
            position: relative;
            pointer-events: none;
            line-height: 21px;
            overflow-y: scroll;
            height: 100%;
            user-select: none;
            /* Oculta a barra de rolagem, mas permite rolar */
            scrollbar-width: none; /* line_numbersFirefox */
            -ms-overflow-style: none; /* IE and Edge */
        }
        
        /* Estilização para navegadores que não suportam scrollbar-width */
        .character_counter::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
        }

        .editor {
            line-height: 21px;
            padding: 0 5px 0 0;
            flex: 1;
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            background-color: transparent;
            color: white;
            font-size: 12px;
            resize: none; /* Impede o redimensionamento do textarea */
            overflow: auto; /* Permite a rolagem */
            scrollbar-width: thin; /* Firefox */
            scrollbar-color: transparent transparent; /* Firefox */
            position: relative;
        }

        .editor::-webkit-scrollbar {
            width: 0; /* Largura da barra de rolagem WebKit (Chrome, Safari) */
        }

        .editor::-webkit-scrollbar-thumb {
            background-color: transparent; /* Cor da "thumb" da barra de rolagem WebKit */
        }

        .editor::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 20px; /* Largura do espaço recuado */
            height: 100%;
        }

        .highlight {
            background-color: yellow; /* Selecionador de texto dos containers */
        }

    /* MAIN RIGHT */

        .main_right {
            display: none;
            flex-direction: column;
            justify-content: space-between;
            width: 25%;
            height: 100%;
        }

        .language_selector,
        .improvements_box,
        .sp_player_div {
            width: 100%;
        }

        .language_selector {
            height: 10%;
            background-color: #616161;
            border-radius: 20px;
        }


        .improvements_box {
            height: 63%;
            background-color: #131313;
            border-radius: 20px;
        }

        .mobile_expanded_content {
            display: block;
        }

    /* MAIN - END */

    /* FOOTER - START */

    .footer {
        width: 100%;
        height: 8%;
        background-color: #383838;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 2%;
        box-sizing: border-box;
        position: relative;
    }

    .mobile_footer_div {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .status_light_div {
        width: 10%;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .status_light {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        align-items: center;
        max-width: 10px;
        background-color: #fff;
    }

    .status-gray {
        background-color: #7a7a7a;
    }

    .status-blue {
        background-color: #0077c2;
        box-shadow: 0 0 2px #0077c2;
    }
    
    .status-yellow {
        background-color: #edb51a;
        box-shadow: 0 0 2px #edb51a;
    }

    .mobile_footer_text {
        margin: 0 0 0 5px;
        width: 75%;
        height: 100%;
        color: white; /* Define a cor do texto como branca */
        font-size: 16px;
        display: flex; /* Utiliza flexbox */
        align-items: center; /* Centraliza verticalmente */
    }

    .mobile_footer_arrow {
        width: 15%;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .expand_arrow {
        width: 35%;
        height: 35%;
        background-size: cover;
        margin: auto;
        user-select: none;
    }

    .footer_message {
        display:none;
    }
    
    .expanded_content {
        display: none;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 0;
        background-color: #fff; /* Cor de fundo para o conteúdo expandido */
        border-radius: 20px;
        transition: height 0.5s;
    }

    

    /* FOOTER - END */
}